.home-container {
  height: 100vh;
}

.home-container video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.footer-button-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}

.right-icon-container {
  height: 3.5rem;
  width: 3.5rem;
  margin: 0 auto;
  font-size: 2rem;
  border: 1px solid black;
  border-radius: 50%;
  transform: rotate(-90deg);
  cursor: pointer !important;
}

.right-icon-container span {
  transition: 0.3s;
}

.footer-button-container:hover {
  letter-spacing: 1px;
  .right-icon-container span {
    transform: translateY(100%);
  }
}
