@font-face {
  font-family: "von-font";
  src: url("./font/von.woff2") format("woff2");
}
.von-font {
  font-family: "von-font";
}
.title-container {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 10px;
  top: 55%;
  -webkit-transform: translate(0, -100%);
  transform: translate(0, -100%);
}

@media screen and (min-width: 600px) {
  .title-container {
    transform: translate(-100%, -50%);
    top: 45%;
    width: 40vw;
    left: 47%;
    height: 25vw;
  }
}

@media screen and (max-width: 600px) {
  .title-svg-container svg {
    width: 10rem;
    height: auto;
  }
}

.title-svg-container svg {
  max-width: 30vw;
  width: 12.5rem;
  height: 3.75rem;
}
